.banner{
	background-color: #8a6d3b;
    color: white;
    padding-bottom: 10px;
}

.col-slider{
	margin-top: 12px;
}

.main{
	background-color: #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.bottom{
	background-color: #0A1B34;
	color: white;
	height: 150px;
	margin-top: 20px;
	padding-top: 20px;
}

.body{
	background-color: #eee;
}